# -*- coding: utf-8 -*-
from RISJbot.spiders.base.buzzfeednewscrawlspider import BuzzfeedNewsCrawlSpider

# NOTE: Inherits parsing code etc., overriding only the name and start URL.
class $classname(BuzzfeedSpider):
    name = '$name'
    start_urls = ['https://www.buzzfeed.com/news?country=XX-XX']

    def parse_page(self, response):
        """@url <url>
        @returns items 1
        @scrapes bodytext bylines fetchtime headline modtime
        @scrapes section source summary url keywords
        @noscrapes firstpubtime
        """
        return super().parse_page(response)

