.spacer {
    flex: 1 1 auto;
}

.search {
  margin-bottom: 20px;
}

.test {
  font-size: smaller;
}

.first-tool-bar {
  display: flex;
  align-items: flex-start;
}

nav {
  margin-bottom: 15px;
}

mat-toolbar.mat-toolbar mat-form-field.mat-form-field {
  font-size: 14px;
  label.mat-form-field-label {
    font-weight: bold;
  }
}