<mat-toolbar color="primary" class="first-tool-bar" fxLayout="row" fxLayoutAlign="space-between center">
  <span routerLink="/">AUSNews</span>
  <form name="asdf" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>
        <mat-form-field appearance="standard" style="margin-right: 10px;">
          <mat-label class="test">Search Query</mat-label>
          <input matInput [(ngModel)]="query" name="query">
        </mat-form-field>
        <button mat-stroked-button color="accent" aria-label="Search" routerLink="/search"
          [queryParams]="{q: query, b: bylines, s: source, r: range.value.start != null ? range.value.start.getTime() : '', e: range.value.end ? range.value.end.getTime() : ''}"
          style="margin-right: 10px">
          Search
        </button>
        <button mat-button (click)="toggleAccordion()">Options</button>
      </div>
      <div>
        <mat-accordion #accordion="matAccordion" multi>
          <mat-expansion-panel hideToggle>
            <mat-form-field appearance="standard" style="margin-right: 10px;">
              <mat-label>Bylines</mat-label>
              <input matInput [(ngModel)]="bylines" name="bylines">
              <mat-hint>e.g. Jane Doe</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard" style="margin-right: 10px;">
              <mat-label>Source</mat-label>
              <input matInput [(ngModel)]="source" name="source">
              <mat-hint>e.g. Guardian</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Published between</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start</mat-error>
              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end</mat-error>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </form>
  <!-- <span class="spacer"></span> -->
  <div>
    <a mat-button href="https://github.com/sponsors/ausnews" target="_blank">Sponsor</a>
    <a mat-button href="https://github.com/ausnews/ausnews-search" target="_blank">Source</a>
    <span>
      <a aria-label="AUSNews on twitter" target="_blank" rel="noopener" href="https://twitter.com/ausnewssearch"
        title="Twitter">
        <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 300">
          <rect width="400" height="300" fill="none" />
          <path
            d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
            fill="#fff" />
        </svg>
      </a>
    </span>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a routerLink="{{link.value}}" mat-tab-link *ngFor="let link of links | keyvalue : sortLinks"
    (click)="activeLink = link.value" [active]="activeLink == link.value">{{link.key}}</a>
</nav>
<router-outlet></router-outlet>