.spacer {
    flex: 1 1 auto;
}

.card {
  margin-bottom: 20px;
  width: 95%
}

.mat-card-content {
  margin: 0 16px 16px 16px;
}

::ng-deep .mat-card-header-text {
  width: 100% !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mat-stroked-button {
  font-size: 16px;
}

.mat-stroked-button {
  white-space: pre-wrap !important;
  text-align: left;
}

.footer-button {
  margin-left: 32px;
  margin-top: 0px;
  margin-bottom: 8px
}

@media(max-width: 600px)
{
  .mat-stroked-button {
    font-size: 14px;
    line-height: 25px;
  }
  
  .mat-raised-button {
    font-size: 14px;
    line-height: 25px;
  }
}